/**
 * [常用色彩]
 */
/**
 * [常用Mixin]
 */
.fll {
  float: left;
}
.flr {
  float: right;
}
.white {
  background: #FFFFFF;
}
i {
  display: inline-block;
  font-style: normal;
  vertical-align: text-bottom;
}
.star_icon {
  width: 187px;
  height: 28px;
  background: url('../images/star-all.png') no-repeat;
  background-size: cover;
}
.star1 {
  background-position: -158px 0;
}
.star2 {
  background-position: -118px 0;
}
.star3 {
  background-position: -80px 0;
}
.star4 {
  background-position: -40px 0;
}
